* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

/* Create Account */
.create-account-box {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 56px rgba(0, 38, 3, 0.08);
    border-radius: 8px;
    width: 520px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Create Account */
.create-account {
    font-size: 32px;
    font-weight: 600;
    color: #1A1A1A;
}

/* Field */
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

/* Input Field */
.field .input-field {
    width: 100%;
    padding: 14px 16px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
}

/* Email */
.field label[for="email"] {
    font-size: 16px;
    color: #999999;
}

/* Password */
.field label[for="password"], .field label[for="confirm-password"] {
    font-size: 16px;
    color: #999999;
}

/* Group */
.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Vector */
.vector {
    width: 49%;
    height: 49px;
    background: #FFFFFF;
    border: 1.5px solid #1A1A1A;
}

/* Links */
.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Remember */
.remember {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Checkbox */
.remember input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* Normal */
.remember label[for="accept-terms"] {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 208px;
    font-size: 14px;
    color: #666666;
}

/* Button */
.button {
    width: 100%;
    padding: 14px 32px;
    background: #00B307;
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Normal */
.button .normal {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Don't have account */
.dont-have-account {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Already have account */
.dont-have-account a.login {
    font-weight: 500;
    color: #1A1A1A;
}